body {
	font-family: 'Verdana';
	font-size: 16px;
	color: #333;
    font-size: 20px;
	line-height: 30px;
}

span {
    margin-bottom: 10px;
	font-size: 20px;
	line-height: 30px;
}

#hello {
    text-align: center;
    width: 950px;
    margin: 100px auto 50px auto;
}

.text {
    font-weight: 200;
    color: #0078D7;
}

img{
	width: 100px;
	border-radius: 50px;
	margin: 10px 15px 0 0;
}

table {
    margin: 0 auto;
    font-size: 15px;
    font-weight: bold;
}

a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	transition: 0.3s;
}

a:hover {
	color: #422676;
	transition: 0.3s;
}

.link {
    color: #FF0000;
    font-weight: bold;
}

.cont {
    width: 200px;
    text-align: right;
}
